{{ define "principal" }}
    <!-- contenedor para la parte superior del contenido -->
    <section class="hero">
        <img class="hr-Image" src="/img/hero.jpg" alt="Todos los guardianes de los valores">
    </section>

    <!-- contenedor para la lista de personajes -->
    <section class="personajes">
        <div class="pr">
            <img class="pr-Imagen" src="/img/biki.jpg" alt="">
            <h2>nombre guardian</h2>
        </div>
    </section>


    <!-- contenedor del "Footer" sopoerte  y redes sociales -->
    <footer>
        <button class="ft-Soporte">Apoyo - Support</button>
    </footer>
    <div class="guia"><img alt="" src="/img/guia.jpeg"></div>
{{ end }}
