{{ define "principal" }}
    <!-- contenedor para la parte superior del contenido -->
    <h1>esto se ve </h1>
	<section class="hero">
        <img class="hr-Image" src="/img/hero.jpg" alt="Todos los guardianes de los valores">
    </section>

    <!-- contenedor para la lista de personajes -->
    <section class="personajes">
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/bicky.png" alt="">
            <h3 class="pr-Title bicky">Bicky</h3>
			
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/benyamin.png" alt="">
            <h3 class="pr-Title benyamin">Benyamin</h3>
			
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/violeta.png" alt="">
            <h3 class="pr-Title violeta">Violeta</h3>
			
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/ruedas.png" alt="">
            <h3 class="pr-Title ruedas">Ruedas</h3>
			
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/pachita.png" alt="">
            <h3 class="pr-Title pachita">Pachita</h3>
			
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/tedo.png" alt="">
            <h3 class="pr-Title tedo">Tedo</h3>
			
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/terra.png" alt="">
            <h3 class="pr-Title terra">Terra</h3>
			
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/kara.png" alt="">
            <h3 class="pr-Title kara">Kara</h3>
			
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/ebony.png" alt="">
            <h3 class="pr-Title ebony">Ebony</h3>
			
        </div>		
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/aura.png" alt="">
            <h3 class="pr-Title aura">Aura</h3>
        </div>
        <div class="pr">
            <img class="pr-Imagen" src="/img/personajes/skator.png" alt="">
            <h3 class="pr-Title skator">Skator</h3>
			
        </div>
        
       
		
    </section>


    <!-- contenedor del "Footer" sopoerte  y redes sociales -->
    <footer>
        <button class="ft-Soporte">Apoyo - Support</button>
    </footer>
    <div class="guia"><img alt="" src="/img/guia.jpeg"></div>
{{ end }}
